<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <timestamp_format>d MM yyyy</timestamp_format>

  <output_file_path>C:/Tmp/log2.txt</output_file_path>
  <screenshots_folder>C:/tmp/screenshots</screenshots_folder>

  <screenshot_on_every_message>true</screenshot_on_every_message>
  <screenshot_on_every_pass>true</screenshot_on_every_pass>
  <screenshot_on_every_fail>true</screenshot_on_every_fail>
  <screenshot_on_every_error>true</screenshot_on_every_error>
  <screenshot_on_every_warning>true</screenshot_on_every_warning>

  <force_throw_exception_on_assert_fail>false</force_throw_exception_on_assert_fail>


  <click_command>
    <log_start>true</log_start>
    <log_end>false</log_end>
    <screenshot_on_start>true</screenshot_on_start>
    <screenshot_on_end>true</screenshot_on_end>    
  </click_command>

</configuration>